<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_pdm_g10">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_PDM_G10">
        <activity android:name=".cz13016_activities.CZ13016ActualizarHorarioActivity"></activity>
        <activity android:name=".cz13016_activities.CZ13016ConsultarHorarioActivity" />
        <activity android:name=".cz13016_activities.CZ13016ObtenerRegistroHorarioActivity" />
        <activity android:name=".cz13016_activities.CZ13016InsertarHorarioActivity" />
        <activity android:name=".cz13016_activities.CZ13016MenuHorarioActivity" />
        <activity android:name=".cz13016_activities.CZ13016ConsultarCapacitacionActivity" />
        <activity android:name=".cz13016_activities.CZ13016ActualizarCapacitacionActivity" />
        <activity android:name=".cz13016_activities.CZ13016EliminarCapacitacionActivity" />
        <activity android:name=".cz13016_activities.CZ13016CapacitacionMenuActivity" />
        <activity android:name=".DiaActualizarActivity" />
        <activity android:name=".DiaEliminarActivity" />
        <activity android:name=".DiaConsultarActivity" />
        <activity android:name=".DiaInsertarActivity" />
        <activity android:name=".DiaMenuActivity" />
        <activity android:name=".CapacitadorConsultarActivity" />
        <activity android:name=".CapacitadorActualizarActivity" />
        <activity android:name=".CapacitadorEliminarActivity" />
        <activity android:name=".CapacitadorInsertarActivity" />
        <activity android:name=".AreaDiplomadoConsultarActivity" />
        <activity android:name=".AreaDiplomadoActualizarActivity" />
        <activity android:name=".AreaDiplomadoEliminarActivity" />
        <activity android:name=".AreaDiplomadoInsertarActivity" />
        <activity android:name=".DiplomadoConsultarActivity" />
        <activity android:name=".DiplomadoActualizarActivity" />
        <activity android:name=".DiplomadoEliminarActivity" />
        <activity android:name=".DiplomadoInsertarActivity" />
        <activity android:name=".CapacitadorMenuActivity" />
        <activity android:name=".AreaDiplomadoMenuActivity" />
        <activity android:name=".DiplomadoMenuActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EntidadCapacitadoraInsertarActivity" />
        <activity android:name=".EntidadCapacitadoraEliminarActivity" />
        <activity android:name=".EntidadCapacitadoraConsultarActivity" />
        <activity android:name=".EntidadCapacitadoraActualizarActivity" />
        <activity android:name=".AreaInteresConsultarActivity" />
        <activity android:name=".AreaInteresActualizarActivity" />
        <activity android:name=".AreaInteresEliminarActivity" />
        <activity android:name=".AreaInteresInsertarActivity" />
        <activity android:name=".EntidadCapacitadoraMenuActivity" />
        <activity android:name=".AreaInteresMenuActivity" />
        <activity android:name=".CapacitadorInsertarActivity" />
        <activity android:name=".AreaDiplomadoInsertarActivity" />
        <activity android:name=".DiplomadoInsertarActivity" />
        <activity android:name=".cz13016_activities.CZ13016InsertarCapacitacion" />
        <activity android:name=".cz13016_activities.cz13016ObtenerRegistroCapacitacion" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>